<div class="container">
    <h1>Autovance Leads</h1>
    <table mat-table [dataSource]="leads$">
        <!--- lead_id Column --->
        <ng-container matColumnDef="lead_id">
            <th mat-header-cell *matHeaderCellDef> Lead ID </th>
            <td mat-cell *matCellDef="let lead"> {{lead.lead_id}} </td>
        </ng-container>

        <!--- duplicate_of Column --->
        <ng-container matColumnDef="duplicate_of">
            <th mat-header-cell *matHeaderCellDef> duplicate_of </th>
            <td mat-cell *matCellDef="let lead"> {{lead.duplicate_of}} </td>
        </ng-container>

        <!--- potential_duplicates Column --->
        <ng-container matColumnDef="potential_duplicates">
            <th mat-header-cell *matHeaderCellDef> Potential Duplicates </th>
            <td mat-cell *matCellDef="let lead">
                <span *ngFor="let potential of potentialDuplicates">
                    <span *ngIf="potential.id === lead.lead_id" >
                        <div class="click" *ngFor="let data of potential.data" (click)="setDuplicateOf(potential.id, data)">
                            {{ data }}
                        </div>
                    </span>
                </span>
            </td>
        </ng-container>

        <!--- First Name Column --->
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let lead"> {{lead.first_name}} </td>
        </ng-container>
    
        <!--- Last Name Column --->
        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let lead"> {{lead.last_name}} </td>
        </ng-container>
    
        <!--- Email Column --->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let lead"> {{lead.email}} </td>
        </ng-container>
    
        <!--- Source Column --->
        <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef> Source </th>
            <td mat-cell *matCellDef="let lead"> {{lead.source}} </td>
        </ng-container>
    
        <!--- Home Phone Column --->
        <ng-container matColumnDef="home_phone">
            <th mat-header-cell *matHeaderCellDef> Home Phone </th>
            <td mat-cell *matCellDef="let lead"> {{lead.home_phone}} </td>
        </ng-container>
    
        <!--- Cell Phone Column --->
        <ng-container matColumnDef="cell_phone">
            <th mat-header-cell *matHeaderCellDef> Cell Phone </th>
            <td mat-cell *matCellDef="let lead"> {{lead.cell_phone}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let lead; columns: displayedColumns"></tr>        
    </table>
</div>
